.card{
    margin-bottom: 30px;
}
.card__image{
    width: 40%;
}
.card__button{
    border: none;
padding: 10px;
border-radius: 10px;
background-color: gray;
}
.card__button--añadir{
background-color: rgb(112, 3, 98);

}
.card__button--añadir:hover{
    opacity: 0.7;
    
}
